main{

    border: 5px solid black;
    border-radius:20px;

    /* width:50%; */
    width:100vw;
}

section{

    border: 2px solid green;
    border-radius:30px;
    width:50%;
}

h2{

    font-size:20px;
}