*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}


#one{
    color: yellow;
    border: 2px solid orange;
    background-image: linear-gradient(orange , white , green);
    text-align: center;
    font-size: x-large;
    font-family: monospace;
    font-style: oblique;
    text-transform: capitalize;
    margin-bottom: 20px;

    
  
}

#two{

    color: tomato;

    margin-bottom: 25px;
    margin-left: 20px;

    background-color: steelblue;


}



   #three{

   font-family:cursive;
   text-transform: lowercase;
   font-style: italic;
   color: skyblue;
   margin-bottom: 25px;
   margin-left: 20px;
   padding-top: 20px;





   }

   #four{

    border: 2px solid black;
    color: violet;
    background-color: thistle;
    background-image: linear-gradient(blue , red);
    margin-bottom: 25px;
    margin-left: 20px;
    box-shadow: -5px -8px 12px darkcyan;
    transform: translate(0px , -10px);


   }

   #six{
    margin-bottom: 25px;
    margin-left: 20px;
    /* text-align: center; */
    font-size: x-large;
    font-family: monospace;
    font-style: oblique;
    text-transform: capitalize;
    color: springgreen;

   }

   #seven{
    margin:4px;
    background-color: aqua;
    width:40%;
    /* transform:translate(250px,-5px); */
    
    font-family: monospace;
    font-style: oblique;
    text-transform: capitalize;
    border: 1px solid forestgreen;
    background-image: linear-gradient(purple , skyblue);
/* 

/* it is a good property to use and increase the font size  */
    /* transform: scale(1,2);  */
  



    transform:skew(13deg);
  



   }

   .container{

    height:400px;
    border:2px solid black;
     background-color: teal;
     width: 70px;
  /* height: 300px; */
  /* border: 1px solid #c3c3c3; */
  display: flex;
  flex-wrap: wrap;
  /* align-content: center; */
  align-content:baseline;
  align-content:center;
  align-content: end;

  align-content:first baseline;
  align-content: flex-start;
  align-content:space-around;
  align-content:space-between;
  align-content:space-evenly;
  
     /* display:flex; */

     /* flex-wrap: wrap; */
     /* justify-content:baseline; */
     /* justify-content: center;
     justify-content: end;
     justify-content: first baseline;
     justify-content: flex-end;
     justify-content: flex-start;
     justify-content: left;
     justify-content: right;
     justify-content: space-around;
     justify-content: space-between;
     justify-content:space-evenly;
     justify-content:start;
     justify-content:end;
     justify-content: stretch; */
     

/* 
     align-items:baseline;
     align-items:center;
     align-items:end;
     align-items:first baseline;
     align-items: flex-end;
     align-items:flex-start;
     align-items:normal;
     align-items:safe;
     align-items:self-end;
 */


 
     



 
     



   }

   .box{

    border: 2px solid black;
    background-color: springgreen;
    width:100px;


   }


   
