*{
    box-sizing: border-box;
}
.container{
margin: 100px;
width:400px;
height:400px;

background-color: gainsboro;



}

.box{

    width:100px;
    height:100px;
    float: left;


   


}

.red{

    background-color: red;
    /* position:relative; */
    /* left:100px; */
    /* top:100px; */
    
  
    
}

.green{

    background-color: green;


}

.blue{

    background-color: blue;
    





}

.brown{
    background-color: brown;
}