*{

    box-sizing:border-box;
}
.container{



    height:400px;
    border:2px solid black;
    display:flex;
    flex-direction:row;
    gap:10px;
    /* Wrap ko hatana poadta jabb bhi hamm flex - sgrink ka use karte hh */
    /* flex-wrap:wrap; */
    /* justify-content:space-around; */
    /* justify-content:space-between; */
    justify-content:center;
    flex-flow:row;

    align-items:center;
    /* align-items:flex-end; */
    align-content:space-evenly;
    flex-wrap:wrap;




    



}

.box{

    border:2px solid green;
    margin: 10px 0px;
    width:100px;
    /* flex-basis:25%; */
}

#box-1{

    /* order:1;
    flex-grow:1;
    flex-shrink:2; */
    /* flex-basis:200px; */
    color:green;


}

#box-2{

    /* align-self:center; */
    color:red;
}

#box-3{


    flex: 0 0 200px;
    align-self: stretch;
}